.main-box{
    border: 1px solid black;
    display: block;
    padding: 0;
    min-height:100vh ;
    margin: 0;
    align-items: center;
    text-align: center;
    justify-content: center;
}

/* Add this CSS to your stylesheet */
/* Add this CSS to your stylesheet */
.responsive-span {
  @media (max-width: 600px) {
    display: none;
  }
  /* Add more media queries as needed for further font size adjustments */
}
.responsive-span-600 {
  @media (min-width: 600px) {
    display: none;
  }
  /* Add more media queries as needed for further font size adjustments */
}

/* Fade-in and fade-out effect for the form */
.form-fade-out-enter,
.form-fade-out-exit {
  transform: translateY(0);
  opacity: 1;
}

.form-fade-out-enter-active,
.form-fade-out-exit-active {
  transform: translateY(-20px);
  opacity: 0;
  transition: transform 600ms ease-in, opacity 600ms ease-in;
}

/* Slide-in and slide-out effect for each question change */
.question-transition-enter,
.question-transition-exit {
  transform: translateY(100%);
  opacity: 0;
}

.question-transition-enter-active,
.question-transition-exit-active {
  transform: translateY(0);
  opacity: 1;
  transition: transform 600ms ease-in-out, opacity 600ms ease-in-out;
}



@keyframes blinkTwice {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}