.main-box{
    border: 1px solid black;
    display: block;
    padding: 0;
    min-height:100vh ;
    margin: 0;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.top-box{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: auto;
}
.Heading{
}

@media (max-width: 600px) {
  .title {
    font-size: 18px;
  }
  .question-transition-enter,
  .question-transition-exit {
    opacity: 0;
    transform: translateY(10px);
  }
}

/* Fade-in and fade-out effect for each question change */
.question-transition-enter,
.question-transition-exit {
  opacity: 0;
  transform: translateY(10px);
}

.question-transition-enter-active,
.question-transition-exit-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms ease-in, transform 300ms ease-in;
}


.form-fade-out-enter,
.form-fade-out-exit {
  opacity: 0;
  transform: translateY(10px);
}

.form-fade-out-enter-active,
.form-fade-out-exit-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms ease-in, transform 300ms ease-in;
}